@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body{
    font-family: 'Montserrat', sans-serif;
    width: 80;
    margin: 4rem auto 7rem;
  text-align: center;
}
    
:root {
    --primary-color: #7c3aed;
  }
.return-table{
    align-self: center;
    border-style: ridge;
        border-width: 150px;
    border: 1px solid #7c3aed;
    width: 50%;
    padding: 1rem;
  text-align: center;
  border-collapse: collapse;
  margin: auto;
}
td{
    border-style: ridge;
        border-width: 150px;
    border: 2px solid #7c3aed;
    width: 0%;
    border-collapse: collapse;
    padding: 0.5rem 1rem;
}
th{
    border-style: ridge;
        border-width: 150px;
    border: 2px solid #7c3aed;
    width: 0%;
    border-collapse: collapse;
   
    padding: 0.5rem 2rem;
}
.heading{

    color:#7c3aed;

}
label{
    color: #7c3aed;
    font-size: large;
    font-weight: 600;
}
input{
display: block;
margin: 1rem auto;
    font-size: 14px;
    outline: #fff;
    padding: 0.6rem 1rem;
    border: 2px solid var(--primary-color);
    border-radius: 0.5rem;
    width: 100%;
    max-width: 258px;
}

button{

    display: block;
    margin: 0 auto;
    padding: 1rem;
    font-size: large;
    font-weight: 600;
    color: white;
    border-radius: 0.5rem;
    border: none;
    background-color: #7c3aed;

}